<a href="https://colab.research.google.com/github/Hugoppi/Coderhouse/blob/main/Trabajo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



path = '/content/Ceco Gs com 5065675301 1-12 2023.XLSX'
leer = pd.read_excel(path)
df = pd.DataFrame(leer)
pd.options.display.float_format = '${:,.2f}'.format




df[['Denom.clase de coste', 'Val/Mon.so.CO', 'Fe.contabilización']].groupby(['Denom.clase de coste',pd.Grouper(key='Fe.contabilización', axis=0,
                      freq='Y')]).sum('Val/Mon.so.CO')


#Convierto la columna en fecha
df['Fe.contabilización'] = pd.to_datetime(df['Fe.contabilización'])

#Extraigo el mes de esa columna
df['mes_cont'] = df['Fe.contabilización'].dt.month

df[['Denom.clase de coste', 'Val/Mon.so.CO', 'mes_cont']].groupby(['Denom.clase de coste',pd.Grouper(key='mes_cont', axis=0,
                      freq='m')]).sum('Val/Mon.so.CO')

df.head(2)